@charset "UTF-8";

*			{ margin:0; padding:0 }
body		{ font:0.75em "맑은 고딕", 돋움, 굴림; text-align:center }
ul, ol		{ list-style-type: none }

#user		{ margin:20px auto;	width:540px; }
#join-form	{
	width:200px;
	padding:10px;
	border:1px solid #666;
	border-radius: 10px;
	margin:50px auto;
	text-align: left;
}

label.block-label					{ display:block }
label.block-label, fieldset			{ margin:5px 0 3px 0 }
label.block-label, fieldset legend	{ margin-bottom:3px }

fieldset				{ border:none; }
input[type="submit"]	{ display:block; width:80px; margin:20px auto }

#login-form	{
	width:260px;
	padding:10px;
	border:1px solid #666;
	border-radius: 10px;
	margin:50px auto;
}

#user p		{ text-align:center; padding:10px}
#user p.jr-success	{ height:200px }
#join-form .error {padding:3px 0 5px 0; text-align: left; color: #f00}
