<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>thymeleaf</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
	<h4>다양한 Scope의 객체 접근하기</h4>
	
	<hr>== request scope(Spring Model Attributes) ================<br>
	[[${vo.no }]] <br>
	[[${vo.name }]] <br>

	<hr>== session scope ====================================<br>	
	[[${session.vo.no }]] <br>
	[[${session.vo.name }]] <br>

	<hr>== application scope(ServletContext) ===================<br>	
	[[${servletContext.getAttribute('vo').no }]] <br>
	[[${servletContext.getAttribute('vo').name }]] <br>
	
	<hr>== application scope(ApplicationContext, Spring Bean) =====<br>
	[[${@vo.no }]] <br>
	[[${@vo.name }]] <br>


	<div style="padding-top: 20px">
		<a th:href="@{/ex01}">return to index</a>
	</div>
</body>
</html>