<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<title>thymeleaf</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<style>
* {margin: 0; padding: 0}
body {padding: 50px}
h1, h4 {margin: 10px 0}
ol, ul {list-style: none}
li { padding: 5px 0}
</style>
</head>
<body>
  <h1 th:text="${'Hello World: Thymeleaf View'}"></h1>
  <h4>index of example</h4>
  <ul>
    <li><a th:href="@{/ex01/01}">1-1. 설정 확인</a></li>
    <li><a th:href="@{/ex01/02}">1-2. JSP와 함께 사용하기</a></li>
    <li><a th:href="@{/ex01/03}">1-3. Basics: 출력 및 연산</a></li>

    <li><a th:href="@{/ex02/01}">2. 다양한 Scope의 객체 접근하기</a></li>
    <li><a href="https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#strings" target="_blank">[참고] 다양한 expression utility object</a></li>

    <li><a th:href="@{/ex03/01}">3-1. Iteration01: th:each</a></li>
    <li><a th:href="@{/ex03/02(r=3, c=3)}">3-2. Iteration02: th:each and #numbers.sequence</a></li>

    <li><a th:href="@{/ex04/01}">4-1. Conditional01: th:if ~ th:unless</a></li>
    <li><a th:href="@{/ex04/02(c=r)}">4-2. Conditional02: th:switch - th:case</a></li>

    <li><a th:href="@{/ex05/01}">5. Server-Side Includes: th:include</a></li>

    <li><a th:href="@{/ex06/join}">6. Form &amp; Message Source(i18n)</a></li>

    <li><a href="https://www.thymeleaf.org/doc/articles/springsecurity.html" target="_blank">[참고] Spring Securty Tags 01</a></li>
    <li><a href="https://www.baeldung.com/spring-security-thymeleaf" target="_blank">[참고] Spring Securty Tags 02</a></li>
  </ul>
</body>
</html>