<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<title>thymeleaf</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>


	<h4>01.값출력 - th:text 속성, th:utext 속성, th:block 태그, [ [ EL ] ]</h4>
	<span th:text="${iVal}"></span>
	<br>
	<span th:text="${lVal}"></span>
	<br>
	<th:block th:text="${fVal}"></th:block>
	: 적당한 태그가 없는 경우
	<br>
	<span>[[${bVal}]]</span> : Thymeleaf 3.x 지원
	<br>
	<span th:text="${sVal}"></span> : HTML Escaped
	<br> [[${sVal}]] : HTML Escaped
	<br> [(${sVal})] : HTML unescaped
	<br>


	<h4>02.객체출력(Concatenate)</h4>
	<ul>
		<li th:text='${"no:" + userVo.no + ", name:" + userVo.name}'></li>
		<li th:text="'no:' + ${userVo.no} + ', name:' + ${userVo.name}"></li>
		<li th:text="|no:${userVo.no}, name:${userVo.name}|"></li>
		<li>no:[[${userVo.no}]], name:[[${userVo.name}]]</li>
	</ul>

	<h4>03.객체출력(null처리)</h4>
	<ul>
		<li th:text="${obj}"></li>
		<li th:text="${'값:' + obj}"></li>
		<li th:text="|값: ${obj == null ? '' : obj}|"></li>
		<li th:if="${obj != null}" th:text="|값:${obj}|"></li>
		<li>값:[[${obj}]]</li>
	</ul>

	<h4>04.Map 출력</h4>
	[[${m.iVal}]]
	<br> [[${m.fVal}]]
	<br> [[${m.sVal}]]
	<br>


	<h4>05.산술연산</h4>
	<th:block th:text="${3*4+5/2-10}"></th:block>
	<br>
	<th:block th:text="${iVal + 10 * 2}"></th:block>
	<br>

	<h4>06.관계연산</h4>
	<th:block th:text="${iVal == 10}"></th:block>
	<br>
	<th:block th:text="${iVal < 10}"></th:block>
	<br>
	<th:block th:text="${obj == null}"></th:block>
	<br>
	<th:block th:text="${obj != null}"></th:block>
	<br>

	<h4>07.논리연산</h4>
	<th:block th:text="${iVal == 10 && lVal <= 100}"></th:block>
	<br>
	<th:block th:text="${iVal == 10 || lVal < 100}"></th:block>
	<br>


	<h4>08.요청 파라미터</h4>
	--[[${param.name}]]--
	<br>


	<h4>09.Context Path</h4>
	[[@{'/user/join'}]]
	<br>

	<div style="padding-top: 20px">
		<a th:href="@{/ex01/01}">return to index</a>
	</div>

</body>
</html>