<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<title>thymeleaf</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<div id="content">
			<div id="user">
				<form id="join-form" name="joinForm" th:object="${userVo}" method="post" th:action="@{/ex06/join}">
					<label class="block-label" for="name" th:text="#{user.join.label.name}"></label>
					<input type="text" id="name" name="name" th:value="${userVo.name}">
					<p class="error" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}"></p>
					
					<label class="block-label" for="email" th:text="#{user.join.label.email}"></label>
					<input type="text" th:field="*{email}">
					<input type="button" th:value="#{user.join.label.email.check}">
					<p class="error" th:errors="*{email}"></p> 

					<label class="block-label" for="password" th:text="#{user.join.label.password}"></label>
					<input type="password" th:field="*{password}">
					<p class="error" th:errors="*{password}"></p> 

					<fieldset>
						<legend>[[#{user.join.label.gender}]]</legend>
						<label for="gender-female">[[#{user.join.label.gender.female}]]</label> <input type="radio" id="gender-female" name="gender" value="female" th:checked="*{gender == 'female'}">
						<label for="gender-male">[[#{user.join.label.gender.male}]]</label> <input type="radio" id="gender-male" name="gender" value="male" th:checked="*{gender == 'male'}">
					</fieldset>
					
					<input type="submit" th:value="#{user.join.button.signup}">
				</form>
			</div>
			<th:block th:include="includes/footer"></th:block>
		</div>
	</div>
</body>
</html>